@media (max-width: 700px){

    .menuNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
    }

    .selectPageHide{
        display: none;
    }

    .selectPage{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px var(--black-03) solid;
        padding-bottom: 21px;
    }


    .homePageBanner{
        display: none;
    }

    .logoHeader{
        display: flex;
        margin-right: 34%;;
    }
    
    .logoElipse{
        margin-right: 0.625em;
    }

    .closedFilter{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding: 0 10px;
    }
}
@media (min-width: 700px) {
    .container{
        max-width: 72.5em;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .menuNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        width: 72.5em;
        margin: 0 auto;
    }

    .logoHeader{
        display: flex;
    }

    .logoElipse{
        margin-right: 0.625em;
    }
}

@media (max-width: 700px){
    .mainBackImg{
        background-image: url("/images/backgroundimg.svg");
        height: 612px;
    }
}


@media (min-width: 700px){
    .mainBackImg{
        background-image: url("/images/backgroundimg.svg");
        height: 944px;
    }
}
