

#navBttnOpen{
    border: 0;
}

.setoresSection{
    background-color: var(--color-brand-1);
    color: var(--white);
}

#sFilterOpen{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    transform: rotate(90deg);
}

#navBttnClose{
    border: 0;
}

@media (max-width: 700px){
    .sFilterBttns{
        margin-left: 5.625em;
    }
}

@media (min-width: 700px){
    .navButtons{
        display: none;
    }
}

