

#navBttnOpen{
    border: 0;
}

.setoresSection{
    background-color: var(--color-brand-1);
    color: var(--white);
}

#sFilterOpen{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    transform: rotate(90deg);
}

#navBttnClose{
    border: 0;
}

@media (max-width: 700px){
    .sFilterBttns{
        margin-left: 5.625em;
    }
}

@media (min-width: 700px){
    .navButtons{
        display: none;
    }
}


/* USER PAGE */
.logoutBttn{
    border: 1px solid var(--color-brand-1);
    color: var(--color-brand-1);
    padding: 13px 36px;
    font-size: var(--font-s-6);
    font-weight: var(--font-w-1);
}

/* ADMIN PAGE */
#viewDeptBttn, #editDeptBttn, #delDeptBttn, #editUserBttn, #delUserBttn {
    border: none;

}

.viewDeptBttnImg, .editDeptBttnImg, .delDeptBttnImg, .editUserBttnImg, .delUserBttnImg {
    width: 38px;
    height: 33px;
}

.deptBttns, .userBttns{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}