

.formSection{
    background-color: var(--white);
    width: 31.625em;
    border: 1px solid var(--color-brand-1);
    padding: 2.5em 2.625em;
    position: absolute;
    top: 30%;
    left: 25%;
}

.registerTitle{
    font-size: var(--font-s-1);
    font-weight: var(--font-w-1);
}

.registerForm{
    display: flex;
    flex-direction: column;

}

@media (max-width: 700px){
    .formSection{
        background-color: var(--white);
        width: 100%;
        border: 1px solid var(--color-brand-1);
        padding: 2.5em 2.625em;
        position: absolute;
        top: 50%;
        left: 25%;
    }
}

input{
    width: 29.813rem;
    height: 52px;
    margin-bottom: 13px;
    padding: 0 13px;
}
select{
    width: 100%;
    height: 52px;
    margin-bottom: 13px;
    padding: 0 13px;
}

option:first{
    color: var(--black-03);
}

#registerBttn{
    background-color: var(--color-brand-1);
    color: var(--white);
    border: 1px solid var(--color-brand-1);
    width: 100%;
    height: 48px;
    margin-bottom: 13px;
    font-size: var(--font-s-6);
    font-weight: var(--font-w-1);
}

.returnAnchor{
    width: 100%;
    height: 48px;
    border: 1px solid var(--color-brand-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-s-6);
    font-weight: var(--font-w-1);
}