

/* view dept modal */

.viewDeptModal{
    background-color: var(--black-05);
    height: 200vh;
    width: 100vw;
    z-index: 3000;
    position: absolute;
    top: 0;
}

.viewContainer{
    background-color: var(--white);
    width: 650px;
    height: 557px;
    margin: 0 auto;
    padding: 39px 40px;
    position: absolute;
    top: 5%;
    left: 25%;
}

.viewModalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deptNameModal{
    font-size: var(--font-s-2);
    font-weight: var(--font-w-1);
}

button{
    border: none;
}

.deptInfosModalDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.deptDesc{
    font-size: var(--font-s-5);
    font-weight: var(--font-w-1);
}
.deptComp{
    font-size: var(--font-s-6);
    font-weight: var(--font-w-4);
}

.searchUser{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#selectUserModal{
    width: 400px;
    height: 52px;
}

#hireUserBttn{
    margin-top: 10px;
    width: 150px;
    height: 48px;
    background-color: var(--success);
    border: 1px solid var(--success);
    color: var(--white);
}

.modalUsersUl{
    display: flex;
    overflow-x: auto;
}
.modalUserLi{
    width: 250px;
    height: 196px;
    border-bottom: 1px solid var(--color-brand-1);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 18px 29px;
}
.usernameModal{
    font-size: var(--font-s-5);
    font-weight: var(--font-w-1);
}
.userLevelModal, .companyModal{
    font-size: var(--font-s-6);
    font-weight: var(--font-w-4);
}
.companyModal{
    margin-bottom: 22px;
}
.dismissBttnDiv{
    display: flex;
    justify-content: center;
}
.dismissBttn{
    padding: 13px 26px;
    border: 1px solid var(--alert);
    color: var(--alert);
    font-size: var(--font-s-6);
    font-weight: var(--font-w-1);
}


/* Create dept modal */

.createDeptModal{
    background-color: var(--black-05);
    height: 200vh;
    width: 98.75vw;
    z-index: 3000;
    position: absolute;
    top: 0;
}

.createDeptContainer {
    background-color: var(--white);
    width: 550px;
    height: 327px;
    margin: 0 auto;
    padding: 39px 40px;
    position: absolute;
    top: 5%;
    left: 25%;
}

.cdmodalHeader{
    display: flex;
    justify-content: space-between;
}

.cdmodalTitle{
    font-size: var(--font-s-2);
    font-weight: var(--font-w-1);
}

input{
    width: 99%;
    height: 42px;
    margin-bottom: 13px;
}
select{
    width: 100%;
    height: 42px;
    margin-bottom: 13px;
}

#createDeptBttn{
    width: 100%;
    height: 42px;
    color: var(--white);
    background-color: var(--color-brand-1);
    font-size: var(--font-s-6);
    font-weight: var(--font-w-1);
}

/* edit dept modal */
.editDeptModal{
    background-color: var(--black-05);
    height: 200vh;
    width: 98.75vw;
    z-index: 3000;
    position: absolute;
    top: 0;
}
.editDeptContainer{
    background-color: var(--white);
    width: 450px;
    height: 357px;
    margin: 0 auto;
    padding: 39px 40px;
    position: absolute;
    top: 5%;
    left: 25%;
}

.edmodalHeader{
    display: flex;
    justify-content: space-between;
}

.edmTitle{
    font-size: var(--font-s-2);
    font-weight: var(--font-w-1);
}


#edmForm{
    display: flex;
    flex-direction: column;
}

#newDescDept{
    resize: none;
    margin-bottom: 14px;
    padding: 17px;
}

#editBttn{
    background-color: var(--color-brand-1);
    border: 1px solid var(--color-brand-1);
    color: var(--white);
    height: 48px;
}

/* deletar dept modal */

.delDeptModal{
    background-color: var(--black-05);
    height: 200vh;
    width: 98.75vw;
    z-index: 3000;
    position: absolute;
    top: 0;
}
.delDeptContainer{
    background-color: var(--white);
    width: 500px;
    height: 407px;
    margin: 0 auto;
    padding: 39px 40px;
    position: absolute;
    top: 5%;
    left: 25%;
}
.ddmHeader{
    display: flex;
    justify-content: flex-end;
}
.modalParag{
    font-size: var(--font-s-1);
    font-weight: var(--font-w-1);
    text-align: center;
}
.ddmBttnDiv{
    display: flex;
    justify-content: center;
}
#deletDeptBttn{
    background-color: var(--success);
    color: var(--white);
    width: 400px;
    height: 48px;
}

/* edit employee modal */

.editEmployeeModal{
    background-color: var(--black-05);
    height: 200vh;
    width: 98.75vw;
    z-index: 3000;
    position: absolute;
    top: 0;
}
.editEmployeeModalContainer{
    background-color: var(--white);
    width: 400px;
    height: 307px;
    margin: 0 auto;
    padding: 39px 40px;
    position: absolute;
    top: 55%;
    left: 33.5%;
}
.edeModalHeader{
    display: flex;
    justify-content: space-between;
}
.edeModalTitle{
    font-size: var(--font-s-2);
    font-weight: var(--font-w-1);
}

#editUserSubmit{
    width: 100%;
    height: 48px;
    background-color: var(--color-brand-1);
    color: var(--white);
    font-size: var(--font-s-6);
    font-weight: var(--font-w-1);
}

/* delete employee modal */
.delEmployeeModal{
    background-color: var(--black-05);
    height: 200vh;
    width: 98.75vw;
    z-index: 3000;
    position: absolute;
    top: 0;
}
.delEmployeeModalContainer{
    background-color: var(--white);
    width: 400px;
    height: 307px;
    margin: 0 auto;
    padding: 39px 40px;
    position: absolute;
    top: 55%;
    left: 33.5%;
}
.deleModalHeader{
    display: flex;
    justify-content: flex-end;
}
.deleModalMain{
    display: flex;
    flex-direction: column;
}
.deleModalParag{
    font-size: var(--font-s-2);
    font-weight: var(--font-w-1);
}
#delEmployeeBttn{
    width: 100%;
    height: 48px;
    background-color: var(--success);
    color: var(--white);
    border: 1px solid var(--success);
}
